.registrationFormContent .Input-inputBlockStyles.filled:not(.invalid),
.registrationFormContent .Select-selectInnerStyles.filled {
  --inputBorderColor: var(--success);
}

.SliderStyles-listStyles .imageBlock {
  aspect-ratio: 7 / 3.2 !important;
}

.HomePage-mainProductStyles {
  gap: 12px !important;
  display: grid !important;
  padding: 0 1.6rem !important;
  overflow: scroll;
  grid-template-columns: repeat(2, calc(100% - 32px));
}

.Header-logoStyles>img {
  width: 160px;
}

.HomePage-mainProductStyles .singleItem {

  .infoBlock,
  .infoBg,
  .arrow {
    display: none !important;
  }

  .imageBlock {
    width: 100% !important;
    opacity: 1;
  }

  .imageBlock .background {
    opacity: 1 !important;
  }
}

@media screen and (max-width: 480px) {
  .HomePage-mainProductStyles .singleItem {
    height: 156px !important;
  }
}

.Integration-contentStyles table td {
  width: auto !important;
}

/* PROMO BUTTON */
.Integration-contentStyles .promo-btn {
  text-decoration: none !important;
  background: var(--secondary);
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: var(--borderRadiusSmall);
  font-weight: bold;
}

.Integration-contentStyles .promo-btn:hover {
  background: rgba(var(--secondary-rgb), 0.8);
}

.Footer-footerLongTextStyles {
  white-space: break-spaces;
}

/* HIGHLIGHT BONUS LEVEL POINTS */
.levelBonuses .content .line.previous:not(:has(~ .line.previous)) {
  background-color: rgba(var(--main-rgb), 0.05);
}

/* FORMULA 1 */
.hero-web,
.podio-web {
  display: none;
}

.hero a {
  width: 100%;
}

.notice,
.disclaimer {
  border: 1px solid var(--accent);
  border-radius: 6px;
  padding: 20px;
  text-align: center;
}

.notice {
  background: linear-gradient(180deg, var(--accent), rgba(255, 102, 196, 0.03));
}

.notice__icon img,
.disclaimer__icon img {
  display: inline-block;
  margin-bottom: 20px;
}

.section-title {
  padding: 12px 6px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 800;
  text-align: center;
  margin: 0 0 20px;
  background-color: var(--accent);
  border-radius: 6px;
}

.hero,
.podio,
.notice,
.como {
  margin-bottom: 20px;
}

.como {
  border: 1px solid var(--accent);
  border-radius: 6px;
}

.steps__list {
  counter-reset: step;
  display: grid;
  gap: 12px;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.steps__list>li {
  list-style: none;
  padding: 14px 14px 14px 56px;
  position: relative;
}

.steps__list>li::before {
  counter-increment: step;
  content: counter(step);
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
  border-radius: 6px;
  background: var(--accent);
  color: #fff;
  font-weight: 900;
}

.Header-headerAndNavigation a[href*="/help/790831"] {
  border: 1px solid var(--accent) !important;
}

.Header-headerAndNavigation a[href*="/help/790831"] svg {
  animation: f1 2s infinite;
}

@keyframes f1 {

  0%,
  100% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(35deg);
  }

  40% {
    transform: rotate(-55deg);
  }

  50% {
    transform: rotate(30deg);
  }

  60% {
    transform: rotate(-15deg);
  }
}

.HomePage-parentStyles {
  gap: 16px;
}

/* STORIES */
.HomePage-parentStyles .Stories-storyGroupStyles {
  height: 7.5rem;
}

.Stories-storyGroupStyles>.title>p {
  text-align: center;
  margin-bottom: 5px;
}

.Stories-storyGroupStyles>.title {
  font-size: .8rem !important;
  line-height: 100%;
  box-shadow: inset 0 -2rem 4rem .2rem rgba(var(--dark-rgb), 1) !important;
}

.Stories-storyGroupStyles {
  aspect-ratio: 1 / 1 !important;
  border-radius: 50% !important;
  border: 2px solid #ffffff29;
  padding: 3px;
}

.Stories-storyGroupStyles .overlay img {
  border-radius: 50%;
}

.Stories-storyGroupStyles.new {
  border-width: 2px;
  border-color: var(--primary) !important;
}

.Stories-storyGroupStyles .badge {
  display: none !important;
}

.HomePage-parentStyles .SingleGame-teamImageStyles {
  width: 25px;
  height: 25px;
  padding: 4px;
}

.HomePage-parentStyles .TopEvents-eventListStyles {
  min-height: auto;
}

.HomePage-parentStyles .Scrollable-columnStyles.withScroll:not(.customContent) {
  width: 81%;
}

.HomePage-parentStyles .Title-parentStyles {
  margin: 0 0 8px 0;
}

.HomePage-parentStyles .Scrollable-viewType1:not(.initialBlockWidth).Scrollable-viewType1:not(.customContent) {
  max-width: 15rem;
}

/* HIDE AUTO EXCLUSION */
[data-testid='closeAccount'] {
  display: none !important;
}

.Header-headerAndNavigation a[href*="/pb/pre-match/sport/Soccer/Europe/566"]:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
  background: url('https://img.uefa.com/imgml/uefacom/elements/logos/competitions/dark/ucl.svg') no-repeat;
}

.Header-headerAndNavigation a[href*="/pb/pre-match/?subNavigation=search&searchValue=Botafogo"]:before,
.Header-headerAndNavigation a[href*="/pb/help/820041"]:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain !important;
  background: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_20c698f1a7e4bd086b9f074850c1fdbe.svg') no-repeat;
}

.Badge-topType {
  background: var(--accent) !important;
}

.TopEvents-singleEventStyles {
  background-color: var(--bgColor) !important;
}

/* TOURNAMENTS */
.Tournaments-singleTournamentStyles:has(.tournamentImageParent img[alt="Grande Prêmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(1) span:nth-child(4),
.Tournaments-singleTournamentStyles:has(.tournamentImageParent img[alt="Grande Prêmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(2) span:nth-child(4) {
  visibility: hidden;
  position: relative;
}

.Tournaments-singleTournamentStyles:has(.tournamentImageParent img[alt="Grande Prêmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(1) span:nth-child(4)::after {
  content: '2 ingressos para o GP';
  visibility: visible;
  position: absolute;
  left: 0;
}

.Tournaments-singleTournamentStyles:has(.tournamentImageParent img[alt="Grande Prêmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(2) span:nth-child(4)::after {
  content: 'convite para o BSOP';
  visibility: visible;
  position: absolute;
  left: 0;
}

.Tournaments-prizeListStyles .item {
  white-space: normal !important;
}

/* NEW GAMES */
.HomePage-parentStyles .listBlock:nth-child(6) h3:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
  background: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_deeeb00621b9258a94fe68067e515464.svg') no-repeat;
}

/* CASINO TOURNAMENTS ORDERING */
.Tournaments-tournamentItemsListStyles {
  display: grid !important;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleItemStyles:nth-child(1) {
  order: 5;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleItemStyles:nth-child(2) {
  order: 2;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleItemStyles:nth-child(3) {
  order: 1;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleItemStyles:nth-child(4) {
  order: 4;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleItemStyles:nth-child(5) {
  order: 3;
}

/* ADD NEW BANK ACCOUNT INFO TEXT */
.BankSection-newCardBlockStyles {
  color: var(--warning);
}

/* REGISTRATION ADDITIONAL INFO */
.ReasonMessage-reasonMessageStyles {
  background-color: transparent !important;
  color: var(--warning) !important;
}

/* FIX BLACK SCREEN ON LOGIN */
body #turnstile-container {
  background: transparent !important;
}

/* GOOGLE PLAY ICON */
.Header-headerAndNavigation a[href*="https://play.google.com/store/apps/details?id=br.softconstruct.beteasy"]:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
  background: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_461242d9aadd5c01e377e45c8292d770.svg') no-repeat;
}

/* TOURNAMENTS PAGE */
.Tournaments-singleItemStyles .Tournaments-titleInfoStyles {
  padding-bottom: 1rem !important;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
  justify-content: flex-start;
  text-shadow: none !important;
}

.Tournaments-titleInfoStyles .title {
  font-size: 1.8rem;
  margin-left: 20px;
}

.Tournaments-currencyStyles {
  font-size: 2.3rem !important;
  background: rgb(32 27 39 / 60%);
  padding: .5rem;
  border-radius: var(--borderRadiusSmall);
  flex-shrink: 0;
}

/* FIX USER INFO TOOLTIP POSITION*/
.rc-tooltip-placement-left {
  left: 14px !important;
}

/* BOTAFOGO FANS PAGE */
iframe[src="https://promo.vodds.com.br/botafogo/"] {
  height: 1850px !important;
}

/* ODDS CAROUSEL */
.SliderStyles-oddBlockParentStyles {
  transform: scale(.9) !important;
  bottom: 2.5rem !important;
}

.SliderStyles-oddBlockParentStyles .Event-parentStyles,
.SliderStyles-oddBlockParentStyles .eventSkeleton {
  min-height: 4.5rem !important;
  backdrop-filter: blur(6px);
}

@media (min-width: 600px) {
  .SliderStyles-oddBlockParentStyles {
    transform: scale(1.4) !important;
  }
}

/* AGE VERIFICATION POPUP ICON */
.AgeVerificationPopup-parentStyles i:before {
  content: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_fbe1c41dae5b54ed2e59fc6091c634be.svg');
  margin-left: 20px;
}

.AgeVerificationPopup-parentStyles .Popup-confirmationParentStyles>i {
  margin-top: -1.5rem;
  opacity: 1;
}

.AgeVerificationPopup-parentStyles .buttonsGroup {
  flex-direction: row !important;
}

/* BOTAFOGO POPUP STYLES - BETCHAIN TEAM */
.PopupByQuery-parentStyles .sportsbook-i-question:before {
  content: "";
  width: 70px;
  height: 70px;
  display: block;
  background: url('https://icons.vbet.bet.br/storage/medias/vbetlatam.com/media_692_20c698f1a7e4bd086b9f074850c1fdbe.svg');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  margin: 0 auto;
  filter: drop-shadow(0 0 10px var(--primary));
}

.PopupByQuery-parentStyles .Popup-confirmationParentStyles>i {
  opacity: 1;
}

/* HOORY ICON LOCATION */
.woot-widget-bubble.woot-elements--right {
  bottom: 70px;
}

/* LOADER */
.Loader-circleLoaderStyles:after {
  content: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/logo_loader_20b1382a3a46fc673dcd7dbf9a9f4364.svg') !important;
  width: 40px;
  border: none !important;
  animation: none !important;
}

.Button-loadingButtonStyles .buttonLoader {
  height: 3.8rem !important;
}

/* BOTAFOGO FAN POPUP */
.botafogo-fan_buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline: auto;
  width: fit-content;
  line-height: 3rem;
  font-weight: 600;
}

.botafogo-fan_buttons .botafogo-fan_button {
  text-decoration: none !important;
}

.botafogo-fan_button-primary {
  width: 100% !important;
  margin-top: 20px;
}

.popupContainerStyles:has([title^='Botafogo fan']) .Popup-popupHeaderStyles,
.popupContainerStyles:has([title^='Botafogo fan']) button[data-testid="submit_button"],
.user-login,
.user-logoff {
  display: none !important;
}

.popupContainerStyles:has([title^='Botafogo fan']).popupContainerStyles {
  max-width: 40rem !important;
  backdrop-filter: blur(5px);
  background-color: #17111e94 !important;
}

#root:not(:has(.Avatar-flipContainerStyles)) .user-logoff {
  display: block !important;
  margin-top: -10px !important;
}

#root:has(.Avatar-flipContainerStyles) .user-login {
  display: block !important;
}

.popup-logo {
  filter: drop-shadow(0 0 15px var(--primary));
}

/* SAFARI ISSUE IFRAME */
@supports (-webkit-hyphens:none) {
  .Integration-contentStyles a.botafogo-link-fan {
    text-decoration: none !important;
    display: flex !important;
    cursor: pointer;
    position: relative;
    border-radius: var(--borderRadiusSmall);
    padding: 0.4rem 1.7rem;
    font-size: 1.3rem;
    min-width: 3.6rem;
    min-height: 3.6rem;
    background-color: #d80d83;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    font-weight: 500;
    font-size: 14px;
  }

  .Integration-contentStyles iframe.botafogo-iframe-fan {
    display: none;
  }
}

/* AFTER REGISTRATION POPUP */
.popupContainerStyles:has(.Popup-successRegistrationStyles) {
  background: transparent !important;
}

.popupContainerStyles:has(.Popup-successRegistrationStyles) .Popup-popupHeaderStyles,
.popupContainerStyles:has(.Popup-successRegistrationStyles) .title,
.popupContainerStyles:has(.Popup-successRegistrationStyles) .content {
  display: none;
}

.Popup-successRegistrationStyles {
  height: 100% !important;
  justify-content: flex-end !important;
}

.Popup-popupChildrenStyles:has(.Popup-successRegistrationStyles) {
  width: 100% !important;
  height: 800px;
  background: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_cbe4ded6eee02429aec59dfecb612d09.png') no-repeat center center / contain;
  padding: 0px;
}