@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.registrationFormContent .Input-inputBlockStyles.filled:not(.invalid),
.registrationFormContent .Select-selectInnerStyles.filled {
  --inputBorderColor: var(--success);
}

.AgeVerificationPopup-parentStyles {
  z-index: 99999999;
}

.Header-logoStyles {
  cursor: pointer;
  height: 100%;
  margin: 0px auto 0px 0px;
  position: relative;
  display: flex !important;
  align-items: flex-end !important;
}

.Header-logoStyles>img {
  height: auto !important;
  max-height: none !important;
  object-fit: contain;
  width: 280px;
}

.HomePage-mainProductStyles {

  .infoBlock,
  .infoBg,
  .arrow {
    display: none !important;
  }
}

.HomePage-mainProductStyles .singleItem .imageBlock {
  width: 100% !important;

  img {
    opacity: 1 !important;
  }
}

@media screen and (min-width: 1440px) {
  .HomePage-mainProductStyles .singleItem {
    height: 24rem !important;
  }
}

.Integration-contentStyles table td {
  width: auto !important;
}

/* PROMO BUTTON */
.Integration-contentStyles .promo-btn {
  text-decoration: none !important;
  background: var(--secondary);
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: var(--borderRadiusSmall);
  font-weight: bold;
}

.Integration-contentStyles .promo-btn:hover {
  background: rgba(var(--secondary-rgb), 0.8);
}

.Footer-footerLongTextStyles {
  white-space: break-spaces;
}

/* HIGHLIGHT BONUS LEVEL POINTS */
.levelBonuses .content .line.previous:not(:has(~ .line.previous)) {
  background-color: rgba(var(--main-rgb), 0.05);
}

/* FORMULA 1 */
.hero-mobile,
.podio-mobile {
  display: none;
}

.hero a {
  width: 100%;
}

.notice,
.disclaimer {
  border: 1px solid var(--accent);
  border-radius: 6px;
  padding: 20px;
  text-align: center;
}

.notice {
  background: linear-gradient(180deg, var(--accent), rgba(255, 102, 196, .03));
}

.notice__icon img,
.disclaimer__icon img {
  display: inline-block;
  margin-bottom: 20px;
}

.section-title {
  padding: 12px 6px;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-weight: 800;
  text-align: center;
  margin: 0 0 20px;
  background-color: var(--accent);
  border-radius: 6px;
}

.hero,
.podio,
.notice,
.como {
  margin-bottom: 20px;
}

.como {
  border: 1px solid var(--accent);
  border-radius: 6px;
}

.steps__list {
  counter-reset: step;
  display: grid;
  gap: 12px;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.steps__list>li {
  list-style: none;
  padding: 14px 14px 14px 56px;
  position: relative;
}

.steps__list>li::before {
  counter-increment: step;
  content: counter(step);
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
  border-radius: 6px;
  background: var(--accent);
  color: #fff;
  font-weight: 900;
}

.Header-headerAndNavigation a[href*="/help/790831"] {
  border: 1px solid var(--accent) !important;
}

.Header-headerAndNavigation a[href*="/help/790831"] svg {
  animation: f1 2s infinite;
}

@keyframes f1 {

  0%,
  100% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(35deg);
  }

  40% {
    transform: rotate(-55deg);
  }

  50% {
    transform: rotate(30deg);
  }

  60% {
    transform: rotate(-15deg);
  }
}

.SportMatches-parentStyles {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

/* HIDE AUTO EXCLUSION */
[data-testid='closeAccount'] {
  display: none !important;
}

/* STORIES */
.Stories-storyGroupStyles>.title {
  box-shadow: inset 0 -2rem 4rem .2rem rgba(var(--dark-rgb), 1) !important;
}

.Stories-storySliderWrapperStyles {
  z-index: 9999990;
}


.Stories-storyGroupStyles {
  height: 100px !important;
}

.Stories-storyGroupStyles>.title {
  font-size: 1rem !important;
  line-height: 100%;
}

.Stories-storyGroupStyles {
  aspect-ratio: 1 / 1 !important;
  border-radius: 50% !important;
  border: 2px solid #ffffff29;
  padding: 3px;
}

.Stories-storyGroupStyles .overlay img {
  border-radius: 50%;
}

.Stories-storyGroupStyles>.title>p {
  text-align: center;
  margin-bottom: 10px;
}

.Stories-storyGroupStyles.new {
  border-width: 2px;
  border-color: var(--primary) !important;
}

.Header-headerAndNavigation a[href*="/pb/pre-match/sport/Soccer/Europe/566"]:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: url('https://img.uefa.com/imgml/uefacom/elements/logos/competitions/dark/ucl.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.Header-headerAndNavigation a[href*="/pb/pre-match/?subNavigation=search&searchValue=Botafogo"]:before,
.Header-headerAndNavigation a[href*="/pb/help/820041"]:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_20c698f1a7e4bd086b9f074850c1fdbe.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.Badge-topType {
  background: var(--accent) !important;
}

.TopEvents-singleEventStyles {
  background-color: var(--bgColor) !important;
}

.TopEvents-singleEventStyles:not(.active):hover {
  background-color: var(--lightSkin) !important;
}

/* TOURNAMENTS */
.Tournaments-singleTournamentPageStyles:has(.tournamentImageAndInfoStyles img[alt="Grande PrÃªmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(1) span:nth-child(4),
.Tournaments-singleTournamentPageStyles:has(.tournamentImageAndInfoStyles img[alt="Grande PrÃªmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(2) span:nth-child(4) {
  visibility: hidden;
  position: relative;
  white-space: normal;
}

.Tournaments-singleTournamentPageStyles:has(.tournamentImageAndInfoStyles img[alt="Grande PrÃªmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(1),
.Tournaments-singleTournamentPageStyles:has(.tournamentImageAndInfoStyles img[alt="Grande PrÃªmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(2) {
  overflow: visible;
}

.Tournaments-singleTournamentPageStyles:has(.tournamentImageAndInfoStyles img[alt="Grande PrÃªmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(1) span:nth-child(4)::after {
  content: '2 ingressos para o GP';
  visibility: visible;
  position: absolute;
  left: 0;
}

.Tournaments-singleTournamentPageStyles:has(.tournamentImageAndInfoStyles img[alt="Grande PrÃªmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(2) span:nth-child(4)::after {
  content: 'convite para o BSOP';
  visibility: visible;
  position: absolute;
  left: 0;
}

/* HIDE REGISTRATION PROMO CODE */
.registrationFormContent .Input-inputParentStyles:has(#promoCode) {
  display: none;
}

/* GAMES TITLE ICONS */
.HomePage-parentStyles .listBlock h3:before {
  font-size: 2rem;
  margin-right: -6px;
}

.HomePage-parentStyles .listBlock:nth-child(6) h3:before {
  content: '🔥';
}

.HomePage-parentStyles .listBlock:nth-child(7) h3:before {
  content: '🎄';
}

/* CASINO TOURNAMENTS ORDERING */
.Tournaments-tournamentItemsListStyles .Tournaments-singleItemStyles:nth-child(1) {
  order: 5;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleItemStyles:nth-child(2) {
  order: 2;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleItemStyles:nth-child(3) {
  order: 1;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleItemStyles:nth-child(4) {
  order: 4;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleItemStyles:nth-child(5) {
  order: 3;
}

/* V-ARENA SCROLL FIX*/
.AdvancedLoyalty-parentStyles {
  overflow-y: auto !important;
}

.AdvancedLoyalty-parentStyles::-webkit-scrollbar {
  width: 0.6rem;
  cursor: pointer;
  height: 100%;
  display: initial !important;
}

.AdvancedLoyalty-parentStyles::-webkit-scrollbar-thumb {
  background: rgba(var(--main-rgb), 35%);
  border-radius: var(--borderRadiusSmall);
}

.AdvancedLoyalty-parentStyles::-webkit-scrollbar-track {
  background: rgba(var(--main-rgb), 20%);
  border-radius: var(--borderRadiusSmall);
}

/* ADD NEW BANK ACCOUNT INFO TEXT */
.BankSection-newCardBlockStyles {
  color: var(--warning);
}

/* REGISTRATION ADDITIONAL INFO */
.ReasonMessage-reasonMessageStyles {
  background-color: transparent !important;
  color: var(--warning) !important;
}

/* FIX BLACK SCREEN ON LOGIN */
body #turnstile-container {
  background: transparent !important;
}

/* GOOGLE PLAY ICON */
.Header-headerAndNavigation a[href*="https://play.google.com/store/apps/details?id=br.softconstruct.beteasy"]:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_461242d9aadd5c01e377e45c8292d770.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

/* FIX ASIDE AND SUBNAVIGATION POSITIONS WHEN HEADER KYC */
body:has(.Header-kycStatusStyles) .SubNavigation-linearStyles:has([data-testid="casino-tab"]) {
  top: calc(10rem + 40px);
}

body:has(.Header-kycStatusStyles) #root aside {
  top: calc(var(--headerHeight) + 0.7rem + 40px);
}

/* MAIN BANNER ODDS HOVER */
@media (hover: hover) {

  .SliderStyles-oddBlockParentStyles .Event-parentStyles:not(.active):not(.active):hover,
  .SliderStyles-oddBlockParentStyles .eventSkeleton:not(.active):not(.active):hover {
    background: rgba(var(--light-rgb), 0.35) !important;
  }
}

/* ODDS CAROUSEL */
.SliderStyles-oddBlockParentStyles .Event-parentStyles,
.SliderStyles-oddBlockParentStyles .eventSkeleton {
  width: 140px !important;
  min-height: 56px !important;
  border-radius: 4px;
  padding: 10px;
}

.SliderStyles-oddBlockParentStyles .Event-parentStyles .Event-oddStyles,
.SliderStyles-oddBlockParentStyles .eventSkeleton .Event-oddStyles {
  font-size: 24px !important;
  font-weight: 900;
  padding: 0;
}

.Event-parentStyles .oddPart .oldOdd {
  font-size: 16px !important;
  font-style: normal;
  font-weight: 900;
  padding: 0;
}

.SliderStyles-oddBlockParentStyles {
  bottom: 1.8rem !important;
  scale: 0.4 !important;
}

@media (min-width: 1280px) {
  .SliderStyles-oddBlockParentStyles {
    bottom: 3.5rem !important;
    scale: 0.7 !important;
  }
}

@media (min-width: 1440px) {
  .SliderStyles-oddBlockParentStyles {
    bottom: 4.5rem !important;
    scale: 0.8 !important;
  }
}

@media (min-width: 1900px) {
  .SliderStyles-oddBlockParentStyles {
    bottom: 6rem !important;
    scale: 1 !important;
  }
}

@media (min-width: 2440px) {
  .SliderStyles-oddBlockParentStyles {
    bottom: 9rem !important;
  }
}

/* BOTOFAGO FANS PAGE */
iframe[src="https://promo.vodds.com.br/botafogo/"] {
  height: 2020px !important;
}

/* AGE VERIFICATION POPUP ICON */
.AgeVerificationPopup-parentStyles i:before {
  content: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_fbe1c41dae5b54ed2e59fc6091c634be.svg');
  margin-left: 20px;
}

.AgeVerificationPopup-parentStyles .Popup-confirmationParentStyles>i {
  margin-top: -1.5rem;
  opacity: 1
}

.AgeVerificationPopup-parentStyles .buttonsGroup {
  flex-direction: row !important;
}

/* BOTAFOGO POPUP STYLES - BETCHAIN TEAM */
.PopupByQuery-parentStyles .sportsbook-i-question:before {
  content: "";
  width: 70px;
  height: 70px;
  display: block;
  background: url('https://icons.vbet.bet.br/storage/medias/vbetlatam.com/media_692_20c698f1a7e4bd086b9f074850c1fdbe.svg');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  margin: 0 auto;
  filter: drop-shadow(0 0 10px var(--primary));
}

.PopupByQuery-parentStyles .Popup-confirmationParentStyles>i {
  opacity: 1;
}

/* LOADER */
.Loader-circleLoaderStyles:after {
  content: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/logo_loader_20b1382a3a46fc673dcd7dbf9a9f4364.svg') !important;
  width: 40px;
  animation: none !important;
  border: none !important;
}

.Button-loadingButtonStyles .buttonLoader {
  height: 3.8rem !important;
}

/* BOTAFOGO FAN POPUP */
.botafogo-fan_buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline: auto;
  width: fit-content;
  line-height: 3rem;
  font-weight: 600;
}

.botafogo-fan_buttons .botafogo-fan_button {
  text-decoration: none !important;
}

.botafogo-fan_button-primary {
  width: 100% !important;
  margin-top: 20px;
}

.popupContainerStyles:has([title^='Botafogo fan']) .Popup-popupHeaderStyles,
.popupContainerStyles:has([title^='Botafogo fan']) button[data-testid="submit_button"],
.user-login,
.user-logoff {
  display: none !important;
}

.popupContainerStyles:has([title^='Botafogo fan']).popupContainerStyles {
  max-width: 40rem !important;
  backdrop-filter: blur(5px);
  background-color: #17111e94 !important;
}

#root:not(:has(.Avatar-flipContainerStyles)) .user-logoff {
  display: block !important;
  margin-top: -10px !important;
}

#root:has(.Avatar-flipContainerStyles) .user-login {
  display: block !important;
}

.popup-logo {
  filter: drop-shadow(0 0 15px var(--primary));
}

/* AFTER REGISTRATION POPUP */
.popupContainerStyles:has(.Popup-successRegistrationStyles) {
  background: transparent !important;
}

.popupContainerStyles:has(.Popup-successRegistrationStyles) .Popup-popupHeaderStyles,
.popupContainerStyles:has(.Popup-successRegistrationStyles) .title,
.popupContainerStyles:has(.Popup-successRegistrationStyles) .content {
  display: none;
}

.Popup-successRegistrationStyles {
  height: 100% !important;
  justify-content: flex-end !important;
}

.Popup-popupChildrenStyles:has(.Popup-successRegistrationStyles) {
  width: 600px !important;
  height: 800px;
  background: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_cbe4ded6eee02429aec59dfecb612d09.png') no-repeat center center / contain;
  padding: 0px;
}

/* CUSTOM SKIN */
body {
  background-color: #16091E;
}

.SliderStyles-listStyles {
  margin-bottom: 10px;

  .imageBlock {
    background: transparent;
  }
}

.SliderStyles-navigationStyles {
  bottom: -4px !important;

  .pages {
    backdrop-filter: none !important;
    background: transparent !important;
    gap: 8px;

    .dot {
      width: 6px;
      height: 6px;
      background-color: #3F3F3F !important;
      transition: width ease-in-out .3s;

      &.current {
        background-color: #D80D83 !important;
        box-shadow: 0 0 3.5px 0 #D80D83;
        width: 32px;
        border-radius: 99px;
      }
    }
  }
}

#root #layout aside.left {
  top: inherit !important;
}

.Header-headerAndNavigation {
  background-color: #2A1939 !important;
  border-bottom: 0;

  .Navigation-navStyles {
    border-bottom: 0px;
    padding: 0;
    height: auto;
  }

  .desktopParentNavStyles {
    padding: 6px 0 0 0;
    min-height: auto;
  }

  .Footer-switchersBlockStyles {
    display: none;
  }

  .Header-headerStyles {
    anchor-name: --header;
    border-bottom: 1px solid #3D0F30;
  }

  .Header-rightSideStyles {
    height: 100%;
    margin-left: 8px;

    button {
      border-radius: 8px;
      color: #FFF;
      font-family: "DM Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.12px;
      padding: 0 12px;
      min-height: 32px;
    }

    .Button-secondaryType {
      border-color: #4A3873;
    }

    &:after {
      content: "";
      border-radius: 4px;
      background: #ee94c6;
      width: 1px;
      height: 36px;
      margin-left: 16px;
      margin-right: 60px;
    }
  }

  .Header-leftAndRightSides {
    position: relative;

    .Header-headerIcon {
      border-radius: 8px;
      border: 1px solid #4A3873;
    }

    .sportsbook-i-closeSidebar {
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_ccf2b080b0fce120ea592ded543e55cc.svg');
      background-position: center;
      background-repeat: no-repeat;

      &::before {
        content: none;
      }
    }

    .sportsbook-i-openSidebar {
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_a3e79f12c36a845fc316b0cf8b14ff45.svg');
      background-position: center;
      background-repeat: no-repeat;

      &::before {
        content: none;
      }
    }
  }
}

.HomePage-parentStyles {

  .Title-titleStyles {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.16px;
  }

  .Scrollable-parentStyles.Scrollable-parentStyles-d909 {
    gap: 3px;
  }

  .Stories-storyGroupStyles {
    height: 84px !important;
    align-items: center;
    overflow: visible;
    padding-top: 6px;
    border: 0;

    &:has(img[alt="Promoções"]) {
      border: unset;
      width: unset;
    }

    .overlay {
      border-radius: 100%;
      width: 56px;
      height: 56px;
      background: #290F2A;
      border: 2px solid #462437;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 3px;
    }

    &.new {
      .overlay {
        border-color: #D80D83;
      }
    }

    .title {
      all: unset;

      p {
        filter: none;
        margin-top: 6px;
        color: #FFF;
        font-family: "DM Sans", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.12px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 79px;
      }

      .badge {
        display: none !important;
      }
    }
  }

  .TopEvents-singleEventStyles {
    border-radius: 16px 8px 16px 8px;
    border: 1px solid #462437;
    background-color: rgba(24, 1, 14, 0.56) !important;
    padding: 0;
    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: #29111F !important;
    }

    .TopEvents-eventInfoStyles {
      padding: 0;
    }

    .sportBackground {
      display: none !important;
    }

    .TopEvents-sportNameAndCompetitionStyles {
      padding: 8px 12px;
      border-bottom: 1px solid rgba(94, 6, 57, 0.48);
      margin-bottom: 16px;

      .sportWithIcon {
        gap: 4px;
        text-transform: none;
      }

      span {
        color: #EE94C6;
        font-family: "DM Sans", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }

      i.sport-i-soccer {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_6fdc932c0a0010291544c76c77d64b81.svg');
        width: 16px;
        height: 16px;

        &:before {
          content: "";
        }
      }

      .competitionAndFav {
        gap: 0;

        .competition.textEllipsis {
          color: #D1D1D1;
          font-family: "DM Sans", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          margin-left: 4px;
          margin-right: 12px;
        }

        .Favorite-favoriteGlobalStyles {
          color: #D1D1D1;
        }
      }
    }

    .TopEvents-teamsStyles {
      padding: 0 16px;

      .teamName {
        color: #FFF;
        font-family: "DM Sans", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.12px;
        max-width: 80px;
      }

      .SingleGame-teamImageStyles {
        border: 0;
        background-color: transparent;
        padding: 0;
        height: auto;
        width: 25px;
        margin: 0 auto 8px auto;

        img {
          padding: 0;
          border-radius: 0;
          width: inherit;
          height: initial;
        }
      }

      .draw .date {
        margin: 0;

        .day {
          color: #EE94C6;
          font-family: "DM Sans", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
        }

        .time {
          color: #EBEBEB;
          font-family: "DM Sans", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: 0.16px;
          margin: 0;
        }
      }

      .draw {
        .evenInfoBlock {
          display: grid;
          gap: 5px;
        }

        .live {
          margin: 0;
          padding: 5px;
          font-size: 9px;
        }
      }
    }

    .TopEvents-eventListStyles {
      padding: 0 16px;
      margin: 16px 0;

      .Event-oddStyles {
        padding: 0;
        color: #FFF;
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.14px;
      }

      .Event-parentStyles {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        background-color: #31031C;
        height: auto;
        min-height: 44px;

        &:hover:not(.active) {
          border-radius: 4px;
          border: 1px solid #8D0955;
          background: #430326;
        }

        &.active {
          border-radius: 4px;
          background: #D80D83;
          box-shadow: 0 0 4px 0 #D80D83, 0 0 8px 0 #D80D83;
        }
      }

      .Event-parentStyles.insights {
        border-color: var(--warning);
      }
    }

    .TopEvents-eventListStyles {
      gap: 8px;
    }

  }

  .flipBlock {
    gap: 4px;
  }

  .Market-commandsAndInfoStyles {
    padding: 0;
    margin-right: 24px;
  }

  .SwipeWithAction-parentStyles {
    padding: 8px 16px;
    background-color: #111;
    border-bottom: 1px solid #323232;
  }

  .SportWidget-parentStyles {
    background-color: #260C36;
    padding: 16px 40px 24px 40px;

    .Market-marketInfoStyles .flag {
      margin: 0 0 0 0 !important;
    }

    .Market-marketInfoStyles:not(.withoutTitle) {
      background-color: #2A2A2A;
    }

    .SubNavigation-hubStyles>.item:not(.active) {
      background-color: #3F3F3F;
    }


    &::before {
      content: 'Explore seus esportes favoritos';
      display: flex;
      color: #FFF;
      font-family: "DM Sans", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 12px;
    }

    .MarketSkeleton-singleMarketSkeletonRootStyles {
      padding: 8px 16px;
      border-bottom: 1px solid #323232;
      background: #111;
    }

    .singleWidget {
      gap: 16px;
    }

    .content {
      border: 1px solid #323232;
      border-radius: 16px;
      overflow: hidden;
      background: #1d1d1d;
    }

    .SportsList-sportListItemStyles {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      min-height: 63px;
      left: 0;
      right: 0;

      .icon {
        all: unset;
        width: 44px;
        height: 52px;
        position: absolute;
        left: 10px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1 !important;
        background-color: transparent !important;
        background-size: contain;

        &:before {
          content: none;
        }
      }

      .sport-i-mma {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_b7730b37d41db7854c4065c376ea569b.png');
      }

      .sport-i-futsal {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_28b2df0d69a8583be615c106a94ba9bc.png');
      }

      .sport-i-soccer {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_271123385c1c0213a0cf39d052456f6b.png');
      }

      .sport-i-tennis {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_af3edfb63186d10c2174ab27cf8ccb43.png');
      }

      .sport-i-basketball {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_ab402243a59ba04614944d4a04d26c8e.png');
      }

      .sport-i-volleyball {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_e51b98b0f1f3e7e554a14264d9cadfae.png');
      }

      .sport-i-tabletennis {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_34a22277c6681323f197a4a609e0e1b7.png');
      }

      .sport-i-americanfootball {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_a02a6506389ab93fa68ece860242f202.png');
      }

      .sport-i-boxing {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_e4a6652caf4de2a3698e2e6bab1ed76b.png');
      }

      .sport-i-icehockey {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_8e0157205125cf297d506c7182408b44.png');
      }

      .sport-i-handball {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_916ea0e17cd12fa8e9e1e1b3cb91c38d.png');
      }

      span {
        border-radius: 8px;
        background-color: #323232;
        display: inline-flex;
        padding: 12px 16px 12px 40px;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        margin-left: 20px;
        color: #FFF;
        font-family: "DM Sans", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.18px;
        border: 1px solid transparent;
      }

      &.SportsList-withActiveSportStyles:not(.active):hover {
        opacity: 1;

        span {
          border-radius: 8px;
          border: 1px solid #8D0955;
          background: #430326;
          opacity: 1;
        }
      }

      &.SportsList-withActiveSportStyles.active {
        background-image: linear-gradient(88deg, #260b36 90%, transparent);
        filter: none;
        padding: 0 10px 0 10px;
        background-color: transparent;
        opacity: 1;

        span {
          border-radius: 24px 8px;
          border: 0.5px solid #E55FAB;
          background: #29111F;
          box-shadow: 0 0 4px 0 #D80D83;
          color: #D80D83;
        }
      }
    }

    .Market-singleMarketStyles {
      border-bottom: 0;
      background-color: transparent;
    }

    .Market-commandNameStyles {
      color: #FFF;
      font-family: "DM Sans", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.12px;
    }

    .Market-gameInfoStyles {
      color: #EE94C6;
      font-family: "DM Sans", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }

    .Market-scoreStyles {
      color: #FFF;
      font-family: "DM Sans", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.12px;
    }

    .Market-scoreStyles.current:before {
      height: 46px;
    }

    .Market-marketInfoStyles {
      color: #FFF;
      font-family: "DM Sans", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;

      .Market-eventInfoStyles {
        opacity: 1;
      }
    }

    .Market-marketInfoStyles:not(.withoutTitle) {
      padding: 4px 16px;
    }

    .Market-marketFilterStyles {
      padding: 0px 16px;
      height: 62px;
      border-radius: 16px 16px 0 0;
      background-color: #1D1D1D;

      .liveDesktop .marketSelect>.selectWrapper {
        height: 30px;
      }
    }

    .Select-selectInnerStyles {
      background-color: #323232;
      display: flex;
      justify-content: center;
      padding: 0 16px;
      gap: 8px;
      height: 30px;
      align-items: center;
      min-width: 150px;
      border-radius: 4px;

      &.opened {
        background-color: #4A3873;
      }
    }

    .Select-selectDropDown {
      left: 50%;
      top: 32px;
      translate: -50% 0;
    }

    .marketSelect {
      padding: 0 0 !important;
      background-color: #323232;
      border-radius: 4px;
      width: auto !important;

      .selectValue {
        color: #D1D1D1;
        font-family: "DM Sans", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.12px;
        opacity: 1;
        margin-right: 0;
        width: auto;
      }

      &.threeBlock {
        width: auto;
      }

    }

    .Select-selectDropDown {
      background: #342063;
      border-bottom: 1px solid #4A3873;
      border-radius: 8px;

      .listParent>div {
        font-family: "DM Sans", sans-serif;
        font-size: 12px;
        font-style: normal;
        line-height: 18px;
        /* 150% */
        letter-spacing: 0.12px;
        color: #B2B2B2;
        padding: 10px 16px;
        background: transparent;
      }

      .listParent>div.selected {
        color: #fff;
        font-weight: 600;
      }

      .listParent>div:not(:last-child) {
        border-bottom: 1px solid #4A3873;
      }
    }

    .rightSide.liveDesktop {
      gap: 16px;
    }

    .Market-sortedMarketsGroupStyles {
      &:nth-last-of-type(2n) {
        margin: 0 12px;
      }

      .eventInfo {
        height: 100%;
        border-radius: 4px;
        background: #31031C;
        border: 1px solid transparent;

        &:not(.active):hover {
          border-color: #8D0955;
          background: #430326;
        }

        &.active {
          background: #D80D83;
          box-shadow: 0 0 4px 0 #D80D83, 0 0 8px 0 #D80D83;
        }
      }

      .Event-oddStyles {
        color: #FFF;
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.14px;
      }
    }

    .Market-showMoreButtonStyles {
      display: flex;
      height: 32px;
      padding: 12px;
      justify-content: center;
      align-items: center;
      gap: 0;
      border-radius: 8px;
      border: 1px solid #4A3873;
      width: max-content;
      background-color: #1D1D1D;
      color: #FFF;
      font-family: "DM Sans", sans-serif;
      font-size: 0;
      margin: 12px auto 20px auto;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.14px;
    }

    .Market-showMoreButtonStyles:after {
      content: "Confira todas as partidas";
      font-size: 14px;
    }

    .Select-selectInnerStyles {
      overflow: inherit;

      .selectArrow {
        background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_26c4d249d70bd42228fa475c17fc3c59.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
        top: initial;
        position: initial;
        transform: initial;
        display: inline;

        &:before {
          content: none;
        }
      }
    }

  }
}

.LeftMenuNavigation-leftMenuDesktopNavigation {
  background-color: #2A1939 !important;
  box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.40) !important;
  border-radius: 12px !important;
  padding: 24px 0 24px 0 !important;

  .LeftMenuNavigation-leftMenuDesktopNavItem:not(.active):hover .iconBlock {
    background-color: transparent;
  }

  .title {
    color: #EBEBEB;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.14px;
  }

  svg {
    display: none;
  }

  .iconBlock {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
    background-color: transparent !important;
    background-size: contain !important;
  }

  [data-testid="e_sports"] {
    .iconBlock {
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_47b9ddbcab92a921977e702fd68cab9f.png');
    }
  }

  [data-testid="promotions"] {
    .iconBlock {
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_8e900ab959b771ecca35e8e62a87d6bf.png');
    }
  }

  [data-testid="games"] {
    .iconBlock {
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_d926025f8c0075e58b367bc23d7cf014.png');
    }
  }

  [data-testid="pre_match"] {
    .iconBlock {
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_d625753b0a21db637992ed289666526f.png');
    }
  }

  [data-testid="live"] {
    .iconBlock {
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_f998a932b420246bc170765983986aa3.png');
    }
  }

  [data-testid="casino"] {
    .iconBlock {
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_574ce0e6c61c9e5ebe37053378cd4927.png');
    }
  }

  [data-testid="live_casino"] {
    .iconBlock {
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_0ac7b81dfc81fb9dd857b179088d6493.png');
    }
  }

  [data-testid="/help/820041?popupByQuery=true"] {
    .iconBlock {
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_20c698f1a7e4bd086b9f074850c1fdbe.svg');
    }
  }

  [data-testid="wonder_wheel"] {
    .iconBlock {
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_b476715122ceca87b290a6f299a72377.png');
    }
  }

  [data-testid="casino_tournaments"],
  [data-testid="sport_tournaments"] {
    .iconBlock {
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_8e5c4d8ea1296139a9bdccf3228b1f5a.png');
    }
  }
}

.woot--bubble-holder .woot-widget-bubble {
  z-index: 999998 !important;
}

.woot-widget-bubble.woot-elements--right {
  top: calc(anchor(--header bottom) - 5rem);
  right: 16px !important;
  width: 36px;
  height: 36px;
  background: transparent !important;
  transform: initial;

  .close-icon-wrapper {
    background-color: #372364;
    border-radius: 1rem;

    svg {
      color: #EE94C6;
    }
  }

  .open-icon-wrapper {
    border-radius: 1rem;
    background-color: #372364;
    display: flex;
    flex-direction: column;

    &:before {
      content: '';
      background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_2d90145a2308b1a12aa464119a7e3929.svg');
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
    }

    svg {
      display: none;
    }
  }
}

.woot-widget-holder {
  top: 120px !important;
}

.Button-primaryType:not(:has(i)),
.tournamentButton {
  &:before {
    content: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_932a91e07769020731fd789a40813d21.svg');
    width: 40px;
    position: absolute;
    right: -4px;
    top: -5px;
  }

  &:after {
    content: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_b27c65a0de0c251c77e9a829a048a047.svg');
    width: 50px;
    position: absolute;
    left: 0px;
    bottom: -15px;
  }
}

.Header-headerAndNavigation .desktopParentNavStyles {
  padding: 0 !important;
  min-height: 0 !important;
}

main>.SubNavigation-linearStyles {
  top: 6rem !important;
}

.SliderStyles-listStyles .imageBlock {
  aspect-ratio: 4.8 / 1 !important;
}

.SliderStyles-imageStyles,
.SliderStyles-listStyles .imageBlock {
  background: none !important;
}

aside .LeftMenuNavigation-leftMenuDesktopNavigation a:hover,
.LeftMenuNavigation-leftMenuDesktopNavItem.active {
  background: #372364;
}

aside.left:before {
  content: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_82acce6b7ee577f67c5f80c9ccc82cc7.svg');
  opacity: 0;
  width: 120px;
  position: absolute;
  right: 0;
  top: -100px;
  z-index: 99999;
  pointer-events: none;
}

#root:has(.sportsbook-i-closeSidebar) aside.left:before {
  opacity: 1;
  top: 57px;
  transition: all .7s cubic-bezier(.17, .67, .43, 1.15);
}

.Promotions-desktopPromotionListStyles a+.infoBlock {
  font-size: 1.3rem;
  text-transform: capitalize !important;
  width: max-content !important;
  max-width: 90%;
  height: auto !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  border: .5px solid #564763;
  border-radius: 1rem;
  z-index: 2;
}

.Promotions-desktopPromotionListStyles a {
  z-index: 3333 !important;
}

.Promotions-desktopPromotionListStyles a:hover~img {
  filter: brightness(0.8);
}

.Promotions-scrolledPromotionsStyles {
  background: none !important;
}

.TopEvents-singleEventStyles .betInsightsEventWrapper,
.TopEvents-insightsTooltipStyles .insightsBlock .infoIcon {
  background: transparent !important;
}

.sportsbook-i-hint:before {
  content: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_248eb0f1fe0022a40a2fc8ad94b3ebce.png') !important;

}

.betInsightsEventWrapper {
  right: 0px !important;
  top: 40px !important;
  transform: scale(0.8) !important;
}

.betInsightsEventWrapper .tooltipInner {
  border: 1px solid var(--warning);
  background: #31031C;
  border-radius: 1rem;
}

.TopEvents-singleEventStyles .betInsightsEventWrapper:before {
  display: none !important;
}

/* Global Search */
.GlobalSearch-globalSearchInputStyles {
  .inputBlock {
    border-radius: 8px !important;
    border: 1px solid #4A3873 !important;
    background: #16091e !important;

    &>span {
      color: #B2B2B2;
      font-family: "DM Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

/* Aviator */
#root:not(:has(.Stories-storyGroupStyles)),
#root:has(.itemWrapper.active.withName) {
  .Navigation-navStyles:has([href*="/pb/open-game/806666"]) {
    display: none;
  }
}

#root:has(.Stories-storyGroupStyles) {
  .Navigation-navStyles [href="/pb/open-game/806666"] {
    position: fixed;
    bottom: 80px;
    right: 0;
    background-image: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_6c17027ceb2cd5ccec69458390038fb1.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 88px;
    height: 73px;
    background-size: cover;
    font-size: 0;
    display: flex;

    .Badge-badgeStyles.Badge-topType {
      display: none;
    }
  }
}

/* Betsplits */
.Betslip-desktopBarStyles {
  .Betslip-messageStyles.win {
    --icon: #1c0f02;
    --type: #e0a205;
    color: #1c0f02;
    font-weight: 800;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    align-items: center;
    filter: drop-shadow(0 0px 6px #e0a205);
    border: 0px;
  }
}

/* User Profile Bonus Animation */
.AccountList-accountListBlockStyles .bonusesWrapper {
  b {
    color: var(--secondary);
    font-weight: 600;
    opacity: 1;
    background: white !important;
    border-radius: 100%;
    padding: 1rem;
    aspect-ratio: 1 / 1;
    display: flex;
    line-height: 1rem;
  }

  i {
    color: white;
    animation: gift-bounce 1s infinite;
  }

  background: linear-gradient(132deg, #000000, var(--secondary));
  background-size: 400% 400%;
  animation: BackgroundGradient 5s ease infinite;
  color: white !important;
  border-radius: 1rem;
}

@keyframes gift-bounce {

  0%,
  100% {
    top: 0;
    transform: translateY(0px);
  }

  50% {
    top: 100px;
    transform: translateY(-7px);
  }
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Registration Form Promo Code Toggle*/
.promo-field {
  position: relative;
  overflow: hidden;
  max-height: 36px;
  transition: max-height 0.4s ease;
}

.promo-field::before {
  content: 'Código de indicação 🔻';
  display: block;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.promo-field .Input-inputBlockStyles {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.promo-field:hover,
.promo-field:focus-within,
.promo-field:has(input:not(:placeholder-shown)) {
  max-height: 120px;
}

.promo-field:hover .Input-inputBlockStyles,
.promo-field:focus-within .Input-inputBlockStyles,
.promo-field:has(input:not(:placeholder-shown)) .Input-inputBlockStyles {
  opacity: 1;
}

.promo-field:hover::before,
.promo-field:focus-within::before,
.promo-field:has(input:not(:placeholder-shown))::before {
  content: 'Código de indicação 🔺';
}