.registrationFormContent .Input-inputBlockStyles.filled:not(.invalid),
.registrationFormContent .Select-selectInnerStyles.filled {
  --inputBorderColor: var(--success);
}

.AgeVerificationPopup-parentStyles {
  z-index: 99999999;
}

.Header-logoStyles {
  cursor: pointer;
  height: 100%;
  margin: 0px auto 0px 0px;
  position: relative;
  display: flex !important;
  align-items: flex-end !important;
}

.Header-logoStyles>img {
  height: auto !important;
  max-height: none !important;
  object-fit: contain;
  width: 280px;
}

.HomePage-mainProductStyles {

  .infoBlock,
  .infoBg,
  .arrow {
    display: none !important;
  }
}

.HomePage-mainProductStyles .singleItem .imageBlock {
  width: 100% !important;

  img {
    opacity: 1 !important;
  }
}

@media screen and (min-width: 1440px) {
  .HomePage-mainProductStyles .singleItem {
    height: 24rem !important;
  }
}

.Integration-contentStyles table td {
  width: auto !important;
}

/* PROMO BUTTON */
.Integration-contentStyles .promo-btn {
  text-decoration: none !important;
  background: var(--secondary);
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: var(--borderRadiusSmall);
  font-weight: bold;
}

.Integration-contentStyles .promo-btn:hover {
  background: rgba(var(--secondary-rgb), 0.8);
}

.Footer-footerLongTextStyles {
  white-space: break-spaces;
}

/* HIGHLIGHT BONUS LEVEL POINTS */
.levelBonuses .content .line.previous:not(:has(~ .line.previous)) {
  background-color: rgba(var(--main-rgb), 0.05);
}

/* FORMULA 1 */
.hero-mobile,
.podio-mobile {
  display: none;
}

.hero a {
  width: 100%;
}

.notice,
.disclaimer {
  border: 1px solid var(--accent);
  border-radius: 6px;
  padding: 20px;
  text-align: center;
}

.notice {
  background: linear-gradient(180deg, var(--accent), rgba(255, 102, 196, .03));
}

.notice__icon img,
.disclaimer__icon img {
  display: inline-block;
  margin-bottom: 20px;
}

.section-title {
  padding: 12px 6px;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-weight: 800;
  text-align: center;
  margin: 0 0 20px;
  background-color: var(--accent);
  border-radius: 6px;
}

.hero,
.podio,
.notice,
.como {
  margin-bottom: 20px;
}

.como {
  border: 1px solid var(--accent);
  border-radius: 6px;
}

.steps__list {
  counter-reset: step;
  display: grid;
  gap: 12px;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.steps__list>li {
  list-style: none;
  padding: 14px 14px 14px 56px;
  position: relative;
}

.steps__list>li::before {
  counter-increment: step;
  content: counter(step);
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
  border-radius: 6px;
  background: var(--accent);
  color: #fff;
  font-weight: 900;
}

.Header-headerAndNavigation a[href*="/help/790831"] {
  border: 1px solid var(--accent) !important;
}

.Header-headerAndNavigation a[href*="/help/790831"] svg {
  animation: f1 2s infinite;
}

@keyframes f1 {

  0%,
  100% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(35deg);
  }

  40% {
    transform: rotate(-55deg);
  }

  50% {
    transform: rotate(30deg);
  }

  60% {
    transform: rotate(-15deg);
  }
}

.SportMatches-parentStyles {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

/* HIDE AUTO EXCLUSION */
[data-testid='closeAccount'] {
  display: none !important;
}

/* STORIES */
.Stories-storyGroupStyles>.title {
  box-shadow: inset 0 -2rem 4rem .2rem rgba(var(--dark-rgb), 1) !important;
}

.Stories-storyGroupStyles {
  height: 120px !important;
}

.Stories-storyGroupStyles>.title {
  font-size: 1rem !important
}

.Header-headerAndNavigation a[href*="/pb/pre-match/sport/Soccer/Europe/566"]:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: url('https://img.uefa.com/imgml/uefacom/elements/logos/competitions/dark/ucl.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.Header-headerAndNavigation a[href*="/pb/pre-match/?subNavigation=search&searchValue=Botafogo"]:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_20c698f1a7e4bd086b9f074850c1fdbe.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.Badge-topType {
  background: var(--accent) !important;
}

.TopEvents-singleEventStyles {
  background-color: var(--bgColor) !important;
}

.TopEvents-singleEventStyles:not(.active):hover {
  background-color: var(--lightSkin) !important;
}

/* TOURNAMENTS */
.Tournaments-singleTournamentPageStyles:has(.tournamentImageAndInfoStyles img[alt="Grande Prêmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(1) span:nth-child(4),
.Tournaments-singleTournamentPageStyles:has(.tournamentImageAndInfoStyles img[alt="Grande Prêmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(2) span:nth-child(4) {
  visibility: hidden;
  position: relative;
  white-space: normal;
}

.Tournaments-singleTournamentPageStyles:has(.tournamentImageAndInfoStyles img[alt="Grande Prêmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(1),
.Tournaments-singleTournamentPageStyles:has(.tournamentImageAndInfoStyles img[alt="Grande Prêmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(2) {
  overflow: visible;
}

.Tournaments-singleTournamentPageStyles:has(.tournamentImageAndInfoStyles img[alt="Grande Prêmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(1) span:nth-child(4)::after {
  content: '2 ingressos para o GP';
  visibility: visible;
  position: absolute;
  left: 0;
}

.Tournaments-singleTournamentPageStyles:has(.tournamentImageAndInfoStyles img[alt="Grande Prêmio VBET"]) .Tournaments-prizeListStyles .item:nth-child(2) span:nth-child(4)::after {
  content: 'convite para o BSOP';
  visibility: visible;
  position: absolute;
  left: 0;
}

/* HIDE REGISTRATION PROMO CODE */
.registrationFormContent .Input-inputParentStyles:has(#promoCode) {
  display: none;
}

/* HALLOWEEN */
.HomePage-parentStyles .listBlock:nth-child(4) h3:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_e6684abb8608b161332e666195e8460a.svg');
  background-size: contain;
  background-repeat: no-repeat;
  animation: lolipop 2s infinite linear;
}

/* NEW GAMES */
.HomePage-parentStyles .listBlock:nth-child(7) h3:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_deeeb00621b9258a94fe68067e515464.svg');
  background-size: contain;
  background-repeat: no-repeat;
  animation: lolipop 2s infinite linear;
}

/* CASINO TOURNAMENTS ORDERING */
.Tournaments-tournamentItemsListStyles .Tournaments-singleTournamentStyles:nth-child(1) {
  order: 5;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleTournamentStyles:nth-child(2) {
  order: 1;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleTournamentStyles:nth-child(3) {
  order: 2;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleTournamentStyles:nth-child(4) {
  order: 3;
}

.Tournaments-tournamentItemsListStyles .Tournaments-singleTournamentStyles:nth-child(5) {
  order: 4;
}

/* V-ARENA SCROLL FIX*/
.AdvancedLoyalty-parentStyles {
  overflow-y: auto !important;
}

.AdvancedLoyalty-parentStyles::-webkit-scrollbar {
  width: 0.6rem;
  cursor: pointer;
  height: 100%;
  display: initial !important;
}

.AdvancedLoyalty-parentStyles::-webkit-scrollbar-thumb {
  background: rgba(var(--main-rgb), 35%);
  border-radius: var(--borderRadiusSmall);
}

.AdvancedLoyalty-parentStyles::-webkit-scrollbar-track {
  background: rgba(var(--main-rgb), 20%);
  border-radius: var(--borderRadiusSmall);
}

/* ADD NEW BANK ACCOUNT INFO TEXT */
.BankSection-newCardBlockStyles {
  color: var(--warning);
}

/* REGISTRATION ADDITIONAL INFO */
.ReasonMessage-reasonMessageStyles {
  background-color: transparent !important;
  color: var(--warning) !important;
}

/* FIX BLACK SCREEN ON LOGIN */
body #turnstile-container {
  background: transparent !important;
}

/* GOOGLE PLAY ICON */
.Header-headerAndNavigation a[href*="https://play.google.com/store/apps/details?id=br.softconstruct.beteasy"]:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: url('https://cmsbetconstruct.com/storage/medias/vbetlatam.com/media_692_461242d9aadd5c01e377e45c8292d770.svg');
  background-size: contain;
  background-repeat: no-repeat;
}